<p>createtrip works!</p>


  <div class="container">
    <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
    <ul class="list-unstyled">
                  
    <li  ><a class="btn btn-block "  routerLink="/CreateComponent" routerLinkActive="active" >Create a trip</a></li>
    <br>
    <li  ><a class="btn btn-block "  routerLink="/DriverComponent" routerLinkActive="active" >Update a trip</a></li>
    <br>
    <li  ><a class="btn btn-block "  routerLink="/DriverComponent" routerLinkActive="active" >Delete a trip</a></li>
  </ul>
  </div>
  </div>
    </div>